<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@(Model.GetType().GetProperty("Title").GetValue(Model))</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="~/Scripts/css/style.css" rel="stylesheet" />
    <script src="~/Scripts/NavCode.js"></script>
</head>
